.name{
  margin-bottom: 5px;
  margin-left: 10px;
  width:200px;
}

.feedback{
  margin-top: 5px;
  margin-left: 10px;
  width: 400px;
  height: 150px;
}
h4{
  font-family: "Century Gothic";
  color: darkslateblue;
}
p{
  font-family: "Century Gothic";
  font-size: small;
  color: cornflowerblue;
}
mat-card{
  margin-left: 50px;
  margin-right: 50px;
}
button{
  margin-top: 2%;
  margin-left: 30%;
}
