<mat-vertical-stepper>
  <mat-step label="Question 1">
    <mat-radio-group [(ngModel)]="q1"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group" (change)="answer1Event($event)">
      <p>{{question1}}</p>
      <mat-radio-button class="example-radio-button" *ngFor="let answer of answers1" [value]="answer">
        {{answer}}
      </mat-radio-button>
    </mat-radio-group>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Question 2">
    <mat-radio-group [(ngModel)]="q2"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group" (change)="answer2Event($event)">
      <p>{{question2}}</p>
      <mat-radio-button class="example-radio-button" *ngFor="let answer of answers2" [value]="answer">
        {{answer}}
      </mat-radio-button>
    </mat-radio-group>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Question 3">
    <mat-radio-group [(ngModel)]="q3"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group" (change)="answer3Event($event)">
      <p>{{question3}}</p>
      <mat-radio-button class="example-radio-button" *ngFor="let answer of answers3" [value]="answer">
        {{answer}}
      </mat-radio-button>
    </mat-radio-group>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Submit Survey!">

    <button (click)="openDialog()">Decide Vacation</button>
    <button mat-button matStepperPrevious>Back</button>
  </mat-step>
</mat-vertical-stepper>
<!--
<label id="example-radio-group-label">Survey</label>
<form [formGroup]="answersForm" (ngSubmit)="onVacationButtonClick(answersForm.value)">

  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group" (change)="answer1Event($event)">
    <p>{{question1}}</p>
    <mat-radio-button class="example-radio-button" *ngFor="let answer of answers1" [value]="answer">
      {{answer}}
    </mat-radio-button>
  </mat-radio-group>

  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group" (change)="answer2Event($event)">
    <p>{{question2}}</p>
    <mat-radio-button class="example-radio-button" *ngFor="let answer of answers2" [value]="answer">
      {{answer}}
    </mat-radio-button>
  </mat-radio-group>

  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group" (change)="answer3Event($event)">
    <p>{{question3}}</p>
    <mat-radio-button class="example-radio-button" *ngFor="let answer of answers3" [value]="answer">
      {{answer}}
    </mat-radio-button>
  </mat-radio-group>
  <button (click)="onVacationButtonClick()">Decide Vacation</button>
</form>
-->

<!--

<p>{{question1}}</p>

<div>
  <input type = "radio"
         name = "continent"
         value="{{answers1[0]}}"
         (change)="answer1Event($event)">{{answers1[0]}}

  <input type = "radio"
         name = "continent"
         value="{{answers1[1]}}"
         (change)="answer1Event($event)">{{answers1[1]}}

  <input type = "radio"
         name = "continent"
         value="{{answers1[2]}}"
         (change)="answer1Event($event)">{{answers1[2]}}


  <p>{{question2}}</p>

  <input type = "radio"
         name = "climate"
         value="{{answers2[0]}}"
         (change)="answer2Event($event)">{{answers2[0]}}

  <input type = "radio"
         name = "climate"
         value="{{answers2[1]}}"
         (change)="answer2Event($event)">{{answers2[1]}}


  <p>{{question3}}</p>

  <input type = "radio"
         name = "price"
         value="{{answers3[0]}}"
         (change)="answer3Event($event)">{{answers3[0]}}

  <input type = "radio"
         name = "price"
         value="{{answers3[1]}}"
         (change)="answer3Event($event)">{{answers3[1]}}


  <br>
  <br>
  <button (click)="onVacationButtonClick()">Decide Vacation</button>
  <br>
  The location you should go to is :
  <h1>
    {{vacation}}
  </h1>
</div>
-->
