<mat-toolbar color="primary">
  <span>Vacation Destination</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span></span>
</mat-toolbar>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="tryLogin(loginForm.value)">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput class="full-width" placeholder="Email Address" formControlName="email" required>
            </mat-form-field>

          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput class="full-width" placeholder="Password" type="password" formControlName="password"
                     required>
            </mat-form-field>
          </td>
        </tr>
        <button mat-raised-button color="primary"  [disabled]="!loginForm.valid" md-raised-button>Login</button>
        <button mat-raised-button color="primary" (click)="tryGoogleLogin()">Login with Google</button>
        <button mat-raised-button color="primary" (click)="tryFacebookLogin()">Login with Facebook
        </button>


      </table>
    </form>
    <a  routerLink="/register">Don't have an account? Make one!</a>
  </mat-card-content>
</mat-card>
