<app-navbar></app-navbar>
<p> Location Page</p>
<div class="md-form">
  <input type="search" [(ngModel)]="searchText" placeholder="Search location here">
</div>
<ul *ngFor="let data of dataset | filter: searchText let i=index">
  <li>{{data}}</li>
</ul>

<img src="https://pix10.agoda.net/hotelImages/255129/-1/4be994f3bf41842cbef6626c815d18a5.jpg?s=1024x768">
<img src="https://www.telegraph.co.uk/content/dam/Travel/2019/September/dubai-%28getty%29.jpg?imwidth=450">
<img src="https://lonelyplanetimages.imgix.net/a/g/hi/t/384e10f39ebc6fab9b991467541ce8ed-dal-lake.jpg?sharp=10&vib=20&w=1200">
<img src="https://www.greecetravel.com/crete/ag-nikolaos-crete.jpg">

