<h1>{{intro}}</h1>
<h2>{{line1}}<br>{{line2}}</h2>
<button mat-stroked-button color="primary" routerLink="/survey">Survey</button>
<button mat-stroked-button color="primary" routerLink="/locations">Location Library</button>
<button mat-stroked-button color="primary" routerLink="/about">About Us</button>
<button mat-stroked-button color="primary" routerLink="/faq">FAQ's</button>
<button mat-stroked-button color="primary" routerLink="/feedback">Feedback and Comments</button>
<button mat-stroked-button color="primary" routerLink="/blogs">Blog</button>
