<h1>{{intro}}</h1>
<h2>{{line1}}<br>{{line2}}</h2>
<!--need to make these show up as buttons-->
<a routerLink="/survey" routerLinkActive="active" class = "button">Survey</a><br>
<a routerLink="/about" routerLinkActive="active" class = "button">About Us</a><br>
<a routerLink="/locations" routerLinkActive="active" class = "button">All Locations</a><br>
<a routerLink="/faq" routerLinkActive="active"class = "button">FAQ's</a><br>
<a routerLink="/feedback" routerLinkActive="active"class = "button">Feedback and Comments</a><br>
