<h1>{{intro}}</h1>
<h2>{{line1}}<br>{{line2}}</h2>
<mat-card>
<button mat-stroked-button color="primary" routerLink="/survey" class="button">Survey</button>
<button mat-stroked-button color="primary" routerLink="/locations" class="button">Location Library</button>
<button mat-stroked-button color="primary" routerLink="/about"class="button">About Us</button><br>
<button mat-stroked-button color="primary" routerLink="/faq"class="button">FAQ's</button>
<button mat-stroked-button color="primary" routerLink="/feedback"class="button">Feedback and Comments</button>
<button mat-stroked-button color="primary" routerLink="/blogs"class="button">Blog</button>
</mat-card>
