<nav>
  <a routerLink="/register" routerLinkActive="active">Register</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/survey" routerLinkActive="active">Survey</a>
  <a routerLink="/about" routerLinkActive="active">About Us</a>
  <a routerLink="/locations" routerLinkActive="active">All Locations</a>
  <a routerLink="/faq" routerLinkActive="active">FAQ</a>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/feedback" routerLinkActive="active">Feedback and Comments</a>
  <a routerLink="/blogs" routerLinkActive="active">Blog</a>
</nav>

<div></div>

<p>Don't see your question listed? Submit one here!</p>
