<h1 class="header">Register!</h1>
<form  [formGroup]="registerForm" (ngSubmit)="tryRegister(registerForm.value)">
  <mat-form-field>
    <input matInput  placeholder="Email Address" formControlName="email" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput  placeholder="Password" formControlName="password" required>
  </mat-form-field>
  <button
    [disabled]="!registerForm.valid" md-raised-button (click)="tryRegister(registerForm.value)" >Register</button>
  <!--
  <button type="button" class="btn btn-danger btn-block" (click)="tryRegister(registerForm.value)">Register!</button>-->
  <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Register with Google</button>
  <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Register with Facebook</button>
</form>
