<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form class="login-form" [formGroup]="registerForm" (ngSubmit)="tryRegister(registerForm.value)">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput class="full-width" placeholder="Email Address" formControlName="email" required>
            </mat-form-field>

          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput class="full-width" placeholder="Password" type="password" formControlName="password"
                     required>
            </mat-form-field>
          </td>
        </tr>
        <button [disabled]="!registerForm.valid" md-raised-button>Register!</button>
        <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Register with Google</button>
        <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Register with Facebook
        </button>

      </table>
    </form>
  </mat-card-content>
</mat-card>
